<div class="collection-count">
	<a class="wish-list" href="#">
		<!-- Heart Icon -->
		<i data-feather="heart"></i>
		<!-- Text / Count Container -->
		<div class="count-container">
			<span class="count-description">You Have</span>
			<span class="count-number">3,492</span>
			<span class="count-description">Comics In Your Wish List</span>
		</div>
		<!-- Arrow -->
		<i data-feather="chevron-right"></i>
	</a>
	<a class="collection" href="#">
		<!-- Checkmark Icon -->
		<i data-feather="check-circle"></i>
		<!-- Text / Count Container -->
		<div class="count-container">
			<span class="count-description">You Have</span>
			<span class="count-number">412</span>
			<span class="count-description">Comics In Your Collection</span>
		</div>
		<!-- Arrow -->
		<i data-feather="chevron-right"></i>
	</a>
</div>