<!-- Comic -->
<div class="comic">
	<div class="cover-container">
		{# <img class="cover" src="{{basedir}}/images/sample-cover.png" /> #}
		<img class="cover" src="https://static.comicvine.com/uploads/scale_small/6/67663/6035906-05.jpg" />
	</div>
	
</div>