<!-- Comic -->
<a class="comic" href="#">
	<div class="cover-container" href="#" style="background-image: url(./images/sample-cover.jpg);"></div>
	<span class="comic-title" href="#">X-Men: Blue - Marvel Legacy Primer Pages #1</span>
</a>