<div class="log-in-prompt">
  <h2>What are you waiting for?</h2>
  <div class="prompt-button-container">
    <a class="hollow-button" href="#">Log In</a>
    <a class="hollow-button" href="#">Sign Up</a>
  </div>
</div>
