<!-- Status Bar -->
<div class="status-bar">
	<div class="status-bar-content">
		<!-- Add to Wish List Button -->
		<a href="#"><i data-feather="heart"></i></a>
		<!-- Add to Collection Button -->
		<a href="#"><i data-feather="check-circle"></i></a>
	</div>
</div>