<!-- Status Bar -->
<div class="status-bar">
	<div class="status-bar-content">
		<!-- Default Statis Bar Content -->
		<!-- Add to Wish List Button -->
		<a href="#"><i data-feather="heart"></i></a>
		<!-- Add to Collection Button -->
		<a href="#"><i data-feather="check-circle"></i></a>
		<!-- I WANT THIS -->
	</div>
</div>

<!-- WANT Status Bar -->
{# <a class="status-bar want" href="#">
	<div class="status-bar-content">
		<i data-feather="heart"></i>
		<span class="status-message">I Want This</span>
	</div>
</a> #}

<!-- Have Status Bar -->
{# <a class="status-bar have" href="#">
	<div class="status-bar-content">
		<i data-feather="check-circle"></i>
		<span class="status-message">I Have This</span>
	</div>
</a> #}