{% extends '_skeletons/page.njk' %}

{% block content %}
	<h2>{{ page.title }}</h2>
	<ul class="series">
		{% for serie in series %}
			<li class="list-item">
				<a class="title" href="/series/{{ serie.slug }}">{{ serie.title }}</a>
				<a class="publisher" href="/publisher/{{ serie.publisher.slug }}">{{ serie.publisher.name }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
