<!-- Comic List Component -->
<div class="comic-list">
	<div class="comic-list-title-flex">
		<!-- Title -->
		<span class="comic-list-title">Out This Week</span>
		<!-- See More Button -->
		<a class="hollow-button see-more" href="#">See More</a>
	</div>
	<!-- Comic Container -->
	<div class="comic-container">
		
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6064964-01.jpg);"></div>
			<span class="comic-title" href="#">X-Men: Blue - Marvel Legacy Primer Pages #1</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6061140-154.jpg);"></div>
			<span class="comic-title" href="#">Venom #154 Skin Deep</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6060416-01.jpg);"></div>
			<span class="comic-title" href="#">Thor: Worthy Origins #1</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6061128-03.jpg);"></div>
			<span class="comic-title" href="#">Star Wars Annual #3</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6035914-03.jpg);"></div>
			<span class="comic-title" href="#">L'Expedition #3 Sous les larmes sacrées de Nyabarongo</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048851-07.jpg);"></div>
			<span class="comic-title" href="#">Umehara - Fighting Gamers! #7</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048670-04.jpg);"></div>
			<span class="comic-title" href="#">Hakuryuu Hadou #4</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6035906-05.jpg);"></div>
			<span class="comic-title" href="#">Le Janitor #5 - La Creche de Satan</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048875-04.jpg);"></div>
			<span class="comic-title" href="#">Youkai Nii-san #4</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048795-08.jpg);"></div>
			<span class="comic-title" href="#">Sakura Trick #8</span>
		</a>
	</div>
</div>

<!-- Comic List Component -->
<div class="comic-list">
	<div class="comic-list-title-flex">
		<!-- Title -->
		<span class="comic-list-title">Out This Month</span>
		<!-- See More Button -->
		<a class="hollow-button see-more" href="#">See More</a>
	</div>
	<!-- Comic Container -->
	<div class="comic-container">
		
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6064964-01.jpg);"></div>
			<span class="comic-title" href="#">X-Men: Blue - Marvel Legacy Primer Pages #1</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6061140-154.jpg);"></div>
			<span class="comic-title" href="#">Venom #154 Skin Deep</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6060416-01.jpg);"></div>
			<span class="comic-title" href="#">Thor: Worthy Origins #1</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6061128-03.jpg);"></div>
			<span class="comic-title" href="#">Star Wars Annual #3</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6035914-03.jpg);"></div>
			<span class="comic-title" href="#">L'Expedition #3 Sous les larmes sacrées de Nyabarongo</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048851-07.jpg);"></div>
			<span class="comic-title" href="#">Umehara - Fighting Gamers! #7</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048670-04.jpg);"></div>
			<span class="comic-title" href="#">Hakuryuu Hadou #4</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6035906-05.jpg);"></div>
			<span class="comic-title" href="#">Le Janitor #5 - La Creche de Satan</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048875-04.jpg);"></div>
			<span class="comic-title" href="#">Youkai Nii-san #4</span>
		</a>
		<!-- Comic -->
		<a class="comic" href="#">
			<div class="cover-container" href="#" style="background-image: url(https://static.comicvine.com/uploads/scale_small/6/67663/6048795-08.jpg);"></div>
			<span class="comic-title" href="#">Sakura Trick #8</span>
		</a>
	</div>
</div>