<footer>
  {# {% include "components/log-in-prompt.njk" %} #}
  <div class="footer-support-bar">
    <div class="row">
      <div class="footer-support-content">
        See a bug? Have a suggestion?
        <a class="footer-support-button" href="/feedback">Send Us Feedback</a>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-about">
      <a href="{{ site.package.repository.url }}" class="icon"><i data-feather="github"></i></a>
      <span class="message">Shelf is a <a href="https://www.gnu.org/philosophy/free-sw.html">libre</a> project. We strive to use libre fonts, icons, and technologies.</span>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/about">About Shelf</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/legal">Legal Statement</a></li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <div class="row">
      Made by <a href="https://gabe.xyz">Gabriel Benson</a> and <a href="https://johnfrench.xyz">John French</a>
    </div>
  </div>
</footer>
