<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.0.1/feather.min.js" integrity="sha256-JOHphzcTEzaA1OQ/4qxDgg0ux1YpPFzA1OPzwafrWqs=" crossorigin="anonymous"></script>
<script src="{{basedir}}/js/main.js"></script>
