<footer>
  {% include "./components/log-in-prompt.njk" %}
  <div class="footer-support-bar">
    <div class="row">
      <div class="footer-support-content">
        See a bug? Have a suggestion?
        <a class="footer-support-button" href="#">Send Us Feedback</a>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-about">
      <a href="#" class="icon"><i data-feather="github"></i></a>
      <span class="message">Shelf is a libre project. We strive to use libre fonts, icons, and technologies.</span>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">About Shelf</a></li>
        <li><a href="#">Support / Feedback</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Legal Statement</a></li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <div class="row">
      Made by <a href="#">Gabriel Benson</a> and <a href="#">John French</a>
    </div>
  </div>
</footer>
