{% extends "../index.njk" %}

{% block header %}
<header class="have-header">
	<div class="header-content">
		<!-- Back Arrow -->
		<a class="arrow-left" href="/profile"><i data-feather="arrow-left"></i></a>
		<!-- Want Icon -->
		<i data-feather="check-circle"></i>
		<!-- Title -->
		<h1 class="title">Your Collection</h1>
		<!-- Filter Button -->
		<a href="#"><i data-feather="filter"></i></a>
	</div>
</header>

<!-- Spacer for fixed header -->
<div class="spacer"></div>
{% endblock %}

{% block main %}
<div class="row">
	{% include "../partials/components/comic-list.njk" %}
</div>
{% endblock %}