<!-- Comic List Component -->
<div class="comic-grid">
	<div class="comic-list-title-flex">
		<!-- Title -->
		<span class="comic-list-title">Out This Week</span>
		<!-- See More Button -->
		<a class="hollow-button see-more" href="#">See More</a>
	</div>
	<!-- Comic Container -->
	<div class="comic-container">
		{% for issue in issues %}
			{% include 'components/comic.njk' %}
		{% endfor %}
	</div>
</div>
