<!-- Comic -->
<a class="comic" href="/issue/{{ issue.id }}">
	<div class="cover-container" style="background-image: url({{ issue.image.super_url | replace(comicvineURL, '') }});"></div>
	<span class="comic-title">{{ issue.volume.name }} #{{ issue.issue_number }}</span>
</a>
