{% extends '_skeletons/page.njk' %}

{% if code %}
	{% set title = code + " - shelf" %}
{% else %}
	{% set title = "500 - shelf" %}
{% endif %}

{% block content %}
	<h2>{% if code %}{{ code }}{% else %}500{% endif %}</h2>
	<p>
		{% if code === 404 %}
			Oops, it looks like that page couldn't be found.  Sorry about that!
		{% else %}
			Oops, it looks like something went wrong on our end.  Sorry about that!
		{% endif %}
	</p>
{% endblock %}
