{% extends '_skeletons/page.njk' %}

{% block content %}
	<p class="home-buttons">
		<a class="button" href="/collection">Collection</a>
		<a class="button" href="/publisher">Browse</a>
	</p>
{% endblock %}
