@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.test {
  display: block;
  background: #FF5C61; }
  .test p, .test h2 {
    color: #ffffff;
    text-shadow: 2px 2px #000000; }

@font-face {
  font-family: 'League Spartan';
  src: url("/fonts/leaguespartan-bold.eot");
  src: url("/fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguespartan-bold.woff2") format("woff2"), url("/fonts/leaguespartan-bold.woff") format("woff"), url("/fonts/leaguespartan-bold.ttf") format("truetype"), url("/fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

header {
  border-bottom: 1px solid #D0D0D0; }

.header-content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em 0 .5em;
  height: 50px; }
  .header-content .site-title {
    flex-grow: 2; }
    .header-content .site-title a {
      display: inline-block; }
    .header-content .site-title h1 {
      transition: 180ms ease color;
      text-transform: uppercase; }
    .header-content .site-title a:hover h1 {
      color: #6f6f6f; }
    .header-content .site-title a:active h1 {
      color: #898989; }
  .header-content .profile-icon {
    margin-left: 1em; }

footer {
  margin-top: 10em;
  background: #3c3c3c; }
  footer .footer-support-bar {
    background: #494949;
    color: #ffffff; }
  footer .footer-support-bar .footer-support-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em; }
  footer .footer-support-bar .footer-support-content .footer-support-button {
    background: #087E8B;
    margin: .5em 0 .5em 1em;
    padding: 1em;
    display: block;
    border-radius: .3em;
    font-family: "League Spartan", "Helvetica", sans-serif;
    font-size: .7rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    transition: 180ms ease background; }
    @media (min-width: 0px) and (max-width: 639px) {
      footer .footer-support-bar .footer-support-content .footer-support-button {
        margin: 1em 0 1em 0;
        width: 100%; } }
    footer .footer-support-bar .footer-support-content .footer-support-button:hover {
      background: #076873; }
    footer .footer-support-bar .footer-support-content .footer-support-button:active {
      background: #065f69; }
  footer .footer-main {
    background: #3c3c3c;
    padding: 7em 0 7em 0; }
  footer .footer-about {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5em 0 .5em;
    display: flex;
    align-items: center;
    background: #3c3c3c;
    padding: 2em 1em 0 1em; }
  footer .footer-about .message {
    color: #ffffff; }
  footer .footer-about .icon {
    margin-right: 1em;
    color: #ffffff; }
  footer .footer-links {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5em 0 .5em;
    background: #3c3c3c;
    padding: 1em 1em 2em 1em;
    color: #ffffff; }
    footer .footer-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    footer .footer-links ul li {
      margin: 0; }
    footer .footer-links ul li a {
      color: #ffffff;
      font-size: .8rem;
      transition: 180ms ease color; }
    footer .footer-links ul li a:hover {
      color: #ff8a8e; }
  footer .credits {
    text-align: right;
    padding: 1em .5em 1em 0;
    background: #2f2f2f;
    color: #cccccc;
    font-size: .8rem; }
  footer .credits a {
    color: #ffffff;
    font-weight: normal;
    transition: 180ms ease color; }
  footer .credits a:hover {
    color: #b2afc3; }

.test {
  display: block;
  background: #FF5C61; }
  .test p, .test h2 {
    color: #ffffff;
    text-shadow: 2px 2px #000000; }

@font-face {
  font-family: 'League Spartan';
  src: url("/fonts/leaguespartan-bold.eot");
  src: url("/fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguespartan-bold.woff2") format("woff2"), url("/fonts/leaguespartan-bold.woff") format("woff"), url("/fonts/leaguespartan-bold.ttf") format("truetype"), url("/fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0; }

html, body {
  min-height: 100vh; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex-grow: 1;
  padding: .5em 0 .5em 0; }

.row {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "League Spartan", "Helvetica", sans-serif;
  color: #000000; }

h1 {
  font-size: 1rem; }

h2 {
  font-size: 1.3rem;
  margin: .5em 0 .5em 0; }

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: .9rem; }

p, span, ul, li {
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  font-size: .9rem; }

a {
  text-decoration: none;
  color: #087E8B;
  font-weight: bold;
  transition: 180ms ease color; }
  a:hover {
    color: #05525b; }
  a:active {
    color: #02272b; }

.icon {
  color: #919191;
  transition: 180ms ease color; }
  .icon:hover {
    color: #3c3c3c; }
  .icon:active {
    color: #000000; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
  padding: .5em;
  background: #3c3c3c;
  color: #ffffff;
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  flex-wrap: wrap;
  min-height: 4em;
  max-width: 450px;
  transition: 180ms ease background, 180ms ease color; }
  .button:hover {
    background: #232323;
    color: #ffffff; }
  .button:active {
    background: #090909; }

.hollow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  padding-top: .15em;
  background: #ffffff;
  color: #919191;
  border: 2px solid #919191;
  border-radius: .5em;
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  flex-wrap: wrap;
  min-height: 2em;
  max-width: 250px;
  transition: 180ms ease border, 180ms ease color; }
  .hollow-button:hover {
    border: 2px solid #3c3c3c;
    color: #3c3c3c; }
  .hollow-button:active {
    border: 2px solid #000000;
    color: #000000; }

* {
  border: none; }

form {
  margin: 2em 0 2em 0; }

label {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #919191;
  display: block;
  transition: 180ms ease color; }

.focused {
  color: #3c3c3c; }

::-webkit-input-placeholder {
  color: #C9C9C9; }

:moz-placeholder {
  color: #C9C9C9; }

::moz-placeholder {
  color: #C9C9C9; }

:-ms-input-placeholder {
  color: #C9C9C9; }

input::placeholder {
  color: #C9C9C9;
  opacity: 1; }

input[type="text"], input[type="submit"], input[type="number"], input[type="email"], input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  height: 4em;
  margin: .5em 0 1em 0;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "League Spartan", "Helvetica", sans-serif;
  border: 2px solid #cccccc;
  padding: 0 1em 0 1em;
  display: block;
  transition: 180ms border ease; }
  input[type="text"]::placeholder, input[type="submit"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #C9C9C9;
    font-weight: bold;
    font-size: 1.3em; }
  input[type="text"]:hover, input[type="submit"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border: 2px solid #a6a6a6; }
  input[type="text"]:focus, input[type="submit"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #3c3c3c; }

input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
  padding: .5em;
  background: #3c3c3c;
  color: #ffffff;
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  flex-wrap: wrap;
  min-height: 4em;
  max-width: 450px;
  transition: 180ms ease background, 180ms ease color;
  border: none;
  margin: 0;
  cursor: pointer;
  min-height: 5em; }
  input[type="submit"]:hover {
    background: #232323;
    color: #ffffff; }
  input[type="submit"]:active {
    background: #090909; }
  input[type="submit"]:hover {
    border: none; }

.log-in-prompt {
  background: #087E8B;
  padding: 5em 0 5em 0;
  display: block;
  text-align: center; }
  .log-in-prompt h2 {
    color: #ffffff; }
  .log-in-prompt .prompt-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .log-in-prompt .hollow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    padding-top: .15em;
    background: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: .5em;
    font-family: "League Spartan", "Helvetica", sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
    min-height: 2em;
    max-width: 250px;
    transition: 180ms ease border, 180ms ease color;
    min-width: 200px;
    margin: 1em;
    transition: 180ms ease background, 180ms ease border; }
    .log-in-prompt .hollow-button:hover {
      border: 2px solid #ffffff;
      color: #087E8B; }
    .log-in-prompt .hollow-button:active {
      border: 2px solid #cccccc;
      color: #087E8B; }
    .log-in-prompt .hollow-button:hover {
      background: #ffffff; }
    .log-in-prompt .hollow-button:active {
      background: #cccccc; }

.comic-list {
  width: 100%; }
  .comic-list .comic-list-title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .comic-list .comic-list-title-flex .comic-list-title {
      flex-grow: 2;
      font-family: "League Spartan", "Helvetica", sans-serif;
      font-size: 1.2rem; }
    .comic-list .comic-list-title-flex .see-more {
      font-size: 0.6rem;
      min-width: 100px; }
  .comic-list .comic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px; }
    @media (min-width: 640px) and (max-width: 1023px) {
      .comic-list .comic-container {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); } }
    @media (min-width: 0px) and (max-width: 639px) {
      .comic-list .comic-container {
        grid-template-columns: repeat(auto-fill, minmax(99px, 1fr)); } }

.comic .cover-container {
  background: #3c3c3c;
  border: 1px solid #cccccc;
  overflow: hidden;
  display: block;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 180ms ease filter; }
  @media (min-width: 640px) and (max-width: 1023px) {
    .comic .cover-container {
      height: 300px; } }
  @media (min-width: 0px) and (max-width: 639px) {
    .comic .cover-container {
      height: 162px; } }
  .comic .cover-container:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%); }

.comic .comic-title {
  display: block;
  color: #087E8B;
  font-size: .8rem;
  width: 180px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media (min-width: 640px) and (max-width: 1023px) {
    .comic .comic-title {
      width: 180px; } }
  @media (min-width: 0px) and (max-width: 639px) {
    .comic .comic-title {
      width: 99px; } }
  .comic .comic-title:hover {
    text-decoration: underline; }
