{% extends '_skeletons/page.njk' %}

{% block content %}
	<p>
		<strong>Series: </strong>
		<span>{{ issue.series.title }}</span>
	</p>
	<p>
		<strong>Volume:</strong>
		<span>{{ issue.series.volume }}</span>
	<p>
		<strong>Number: </strong>
		<span>{{ issue.number }}</span>
	</p>
	<p>
		<strong>Issue Title:</strong>
		<span>"{{ issue.title }}"</span>
	</p>
	<p>
		<strong>Publisher:</strong>
		<span>{{ issue.publisher.name }}</span>
	</p>
	<p>
		<strong>Published:</strong>
		<span class="isoDate">{{ issue.publicationDate }}</span>
	</p>
	<p>
		<strong>Creative Team: </strong><br />
		{% for role, person in issue.team %}
			<span>{{ person.name.first }} {{ person.name.last }}{{ "," if not loop.last }}</span>
			<em>{{ role }}</em>
			<br />
		{% endfor %}
	</p>
	<p>
		<strong>Cover Price:</strong>
		<span>{{ issue.coverPrice }}</span>
	</p>
	<p>
		<strong>Content Rating:</strong>
		<span>{{ issue.contentRating }}</span>
	</p>
	<p>
		<strong>Collection Status:</strong>
		<span>{{ issue.collectionStatus }}</span>
	</p>
{% endblock %}
