// General
html,body
	font-size: 100%

header
	font-size: 2rem
	line-height: 3rem
	background-color: #ccc
	text-align: center
	height: 3rem

a
	color: #000
	&:link
		text-decoration: none
	&:hover, &:active
		text-decoration: underline

// Global Classes
.isoDate
	display: none

// Component-specific
ul.series,
ul.issues
	padding: 0
	list-style-type: none
	li
		padding: .5rem 1rem

ul.series
	li
		display: flex
		justify-content: space-between

ul.issues
	li
		a
			display: block
			display: flex
			justify-content: space-between
