<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ page.title + " - " + site.title if page.title else site.title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="/css/fixes.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
	<script src="/js/main.js"></script>
</head>
