// Styles for the User's Account Information
// -----------------------------------------

// Account Container
.account-container {
	.email, .password {
		display: flex;
		color: $dark-gray;
	}
	.account-detail {
		font-size: .9rem;
		color: $dark-gray;
	}
	.strong {
		font-weight: bold;
		width: 100px;
	}
}
