{% extends "skeletons/default.njk" %}

{% block main %}
	<div class="row">
		<h2>About Shelf</h2>
		<p>
			Shelf is a tool for managing your comic book collection and making it
			easier for you to know what's coming out.  We wanted to make this project
			simple, free, and open. If you enjoy using Shelf, consider contributing to
			some of the many services that make it possible.
		</p>

		<h3>Contributing</h3>
		<ul>
			<li><a href="https://github.com/gabeotisbenson/shelf">Contribute via GitHub</a></li>
			<li><a href="https://twitter.com/johnfrenchxyz">Follow John on Twitter</a></li>
			<li><a href="https://twitter.com/gabeotisbenson">Follow Gabriel on Twitter</a></li>
		</ul>

		<h3>Site Credits/Technologies</h3>
		<p>
			Data for this site is provided by <a href="https://comicvine.gamespot.com/">Comic Vine</a>.
		</p>

		<br />

		<p>
			Our site is built using the following open source technologies:
		</p>
		<ul>
			<li><a href="https://nodejs.org/en/">Node.js</a></li>
			<li><a href="http://expressjs.com/">Express</a></li>
			<li><a href="https://mozilla.github.io/nunjucks/getting-started.html">Nunjucks</a></li>
		</ul>

		<br />

		<p>
			Our site looks great due to some fantastic fonts and icons.
		</p>
		<ul>
			<li><a href="https://www.theleagueofmoveabletype.com/league-spartan">League Spartan</a></li>
			<li><a href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a></li>
			<li><a href="https://feathericons.com/">Feather Icons</a></li>
		</ul>

	</div>
{% endblock %}
