{% extends "skeletons/default.njk" %}

{% set volume = issue.volume %}
{% set publisher = volume.publisher %}

{% block header %}
	<header class="banner-header" style="background-image: url({{ issue.image.screen_url | replace(comicvineURL, '') }});">
		<div class="header-content">
			<!-- Back Arrow -->
			<a class="arrow-left" href="{{ referer or "/profile" }}"><i data-feather="arrow-left"></i></a>
	    	<!-- Search Button / Trigger -->
	    	<a href="#" class="icon search-icon"><i data-feather="search"></i></a>
	    	<!-- Profile Link -->
	    	<a href="/profile" class="icon profile-icon"><i data-feather="user"></i></a>
		</div>
		<div class="banner-titles">
			<!-- Issue Title -->
			<h1>
				{% if issue.name %}
					{{ issue.name }}
				{% else %}
					{{ volume.name }} #{{ issue.issue_number }}
				{% endif %}
			</h1>
			<!-- Volume -->
			{% set deckLength = volume.deck | length %}
			<a href="/volume/{{ volume.id }}" class="volume">{{ volume.name }} {{ volume.deck | truncate(deckLength - 1, true, "" )}}</a>
			<!-- Publish Date -->
			<span class="publish-date">{{ volume.start_year }}</span>
			<!-- Publisher -->
			<span class="publisher">{{ publisher.name }}</span>
		</div>
	</header>
	{% include "components/status-bar.njk" %}
{% endblock %}

{% block main %}
	<div class="row">
		<div class="issue-flex-container">
			<div>
				<span class="detail-title">Cover Date</span>
				<span class="detail-date">{{ issue.cover_date | date("MMM YYYY") | upper }}</span>
			</div>
			<div>
				{# Cover Price info not in DB - Gabe 2017-11-22 #}
				{# <span class="detail-title">Cover Price</span>
				<span class="detail-price">$1.75</span> #}
			</div>
		</div>
		<span class="detail-title">Summary</span>
		<div class="detail-summary">{{ issue.description }}</div>
		<div class="issue-flex-container">
			<div>
				<span class="detail-title">Writers</span>
				{% set writer = r/writer/ %}
				{% for person in issue.person_credits %}
					{% if writer.test(person.role) %}
						<a class="" href="#">{{ person.name }}</a><br />
					{% endif %}
				{% endfor %}
			</div>
			<div>
				<span class="detail-title">Artists</span>
				{% set artist = r/artist|penciler/ %}
				{% for person in issue.person_credits %}
					{% if artist.test(person.role) %}
						<a class="" href="#">{{ person.name }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
