{% extends "skeletons/default.njk" %}

{% block main %}
	<div class="row">
		<h2>Legal Statement</h2>
		<p>
			Shelf claims no ownership or responsibility of any comic-related content herein.  All titles and characters are the sole property of their publishers, and/or authors and creators.  We in no way seek to reproduce or profit in any fashion from any of the material contained within this site.  We are rather, a tool in which users can seek to collect and purchase this material from authorized retailers.  We sell no advertising space and receive no financial gain through the operation of this site, except through the donations of users to help recoup the operational costs of hosting and maintaining the website.
		</p>

	</div>
{% endblock %}
