{% extends "skeletons/default.njk" %}

{% block main %}
	<div class="row">
		<h2>Our Privacy Policy</h2>
		<p>
			<b>TLDR;</b> We're never going to share any data. We're an open project, and we won't even be running analytics on this site.  But, you can read our full statement below.
		</p>
		<br />
		<p>
			<b>1. Our Policy:</b> This Privacy Policy covers Shelf's treatment of
			personal information or personally identifiable information (both "Personal
			Information") that may be collected or submitted when the web-user ("you")
			are using Shelf's website or services.  This Policy does not apply to
			companies that Shelf does not own or control, or to individuals that are
			not under Shelf's supervisory control.
		</p>
		<br />
		<p>
			Please understand that whenever you voluntarily disclose Personal Information online this information cannot be made one-hundred percent secure and, in some cases, that information can be intercepted, collected and used by others. However, we word hard to protect your information at all times, and protect your information in several ways. Your information is stored on a secure server that Shelf and its authorized personnel can only access through a password. Additionally, we encrypt your information to prevent third parties without authorization from intercepting your information when it is in transit to us.
		</p>
		<br />
		<p>
			<b>2. How We Collect Your Personal Information:</b> While using Shelf's website, you may submit Personal Information when signing up.  Depending on the service or process, the Personal Information you may be asked to provide is you:
			<ul>
				<li>Email</li>
				<li>Password</li>
			</ul>
			<br />
			While we will collect this information, and encrypt passwords on our secure database, we will not log your activity, track analytics, or share your information with any third parties. The only information we will ever log is error messages in order to improve the platform. But the error itself will contain no Personal Information.
		</p>
		<br />
		<p>
			<b>3. Our Use of Cookies:</b> Shelf uses cookies to remember a limited amount of user information.  Specifically, Shelf uses cookies in order to determine if a user is logged into the site or not.  Cookies are electronic identifiers that are transferred automatically to your computer through your browser that allow our computers to save that information so we can recognize when you visit the site in the future. This allows you to avoid logging in more than once, which saves time, and creates a customized website that fits your needs. You may, at any time, disable or refuse to accept cookies by changing the preferences or settings on your web browser. If you choose to disable cookies, you will still be able to use our website. You will not, however, be able to remain logged in if you close your browser.
		</p>
		<br />
		<p>
			<b>4. How Your Personal Information is Disclosed:</b> It is Shelf's policy not to disclose, sell or rent your Personal Information to any individual, business, government entity or outside parties except in response to a validly-issued subpoena, court order, or other legal process or when necessary to establish or exercise our legal rights or defend against legal action, or where you request Shelf to do so for your own Personal Information.
			<br />
			From time to time, Shelf may use return email addresses to answer the email we receive from you. Such addresses are not used for any other purpose. Your Personal Information will not be collected for use that is in violation or the law, or unrelated to uses discussed in this Policy.
		</p>
		<br />
		<p>
			<b>5. Setting Up User Accounts:</b> Shelf allows users to set up personal accounts to manage their comic book collections.  You have the ability to edit the information you provide at any time, and may delete your account at your convenience through the profile page on the site.  Unless Shelf is required to respond to court orders, subpoenas or comply with applicable law, Shelf will use its best efforts to ensure that unauthorized third parties do not access your user account information at any time.
		</p>
		<br />
		<p>
			<b>6. Web Statistics &amp; Shared Data:</b> Shelf does not collect or use IP addresses to analyze ternds or track users in any way. We improve the site though user submitted feedback only, except for any errors logged in the site, which contain no Personal Information.
		</p>
		<br />
		<p>
			<b>7. Scope of this Policy; Third Party Websites:</b> Although this policy applies to all information obtained by you for the purpose of accessing or using content controlled by Shelf, it does not apply to business or entities that are not owned or controlled by us.  This website contains links to other third party websites. Please be aware that Shelf does not claim any responsibility for the privacy practices of theses third party sites. We encourage you to be aware when you leave our site and to take reasonable precautions when sharing your personally identifiable information on third part websites.
		</p>
		<br />
		<p>
			<b>8. Encryption:</b> All user account pages are protected with Secure Socket Layer ("SSL") encryption.  All user accounts must be accessed with usernames and passwords. You are advised not to share your username and password with any other person.
		</p>
		<br />
		<p>
			<b>9. Amendments:</b> Shelf reserves the right to amend this policy at any time. Shelf will contact registered users by e-mail, and shall also post a notice of changes on its website, when and if the terms of this policy are amended.
		</p>
		<br />
		<p>
			<b>10. Contact:</b> You may contact Shelf directly by filing an issue at <a href="https://github.com/gabeotisbenson/shelf">https://github.com/gabeotisbenson/shelf</a>. Shelf is proudly located in Athens, GA can be reached by phone at (404) 884-8596.
		</p>
	</div>
{% endblock %}
