{% extends '_skeletons/page.njk' %}

{% block content %}
	<h2>Publishers</h2>
	<div class="mini-block-container">
		{% for publisher in publishers %}
			<div class="mini-block">
				<h3>
					<a href="/publisher/{{ publisher.slug }}">{{ publisher.name }}</a>
				</h3>
				<ul>
					{% for issue in publisher.issues %}
						<li>
							<a href="/series/{{ issue.series.slug }}">{{ issue.series.title }}</a>
							<a href="/series/{{ issue.series.slug }}/vol/{{ issue.series.volume }}">Vol. {{ issue.series.volume }}</a>
							<a href="/series/{{ issue.series.slug }}/vol/{{ issue.series.volume }}/{{ issue.number }}">#{{ issue.number }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}
