<!doctype html>
<html lang="en">
{% include "_partials/head.njk" %}
<body>
{% include "_partials/header.njk" %}
<main>
	{% block content %}{% endblock %}
</main>
{% include "_partials/footer.njk" %}
<script type="text/javascript">{% block customJS %}{% endblock %}</script>
</body>
</html>
